.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  color: black;
}

.App-header > h1 {
  margin: 5vmin;
}

.App-link {
  color: #61dafb;
}

.Code {
  width: 80vmin;
  height: 30vmin;
  font-size: 2.5vmin;
  padding: 1vmin;
  background-color: #eeeeee;
  outline: none;
  resize: vertical;
}

.Output {
  width: 80vmin;
  height: 10vmin;
  font-size: 2.5vmin;
  padding: 1vmin;
  border-top: 0;
  background-color: #fffadb;
  outline: none;
  cursor: default;
  resize: vertical;
}

.Examples {
  margin-top: 2vmin;
  margin-bottom: 1vmin;
  padding: 0.5vmin;
  font-size: 2vmin;
}

.Run {
  background-color: #3574fd;
  border: none;
  padding: 1vmin 1.5vmin;
  font-size: 2vmin;
  font-weight: bold;
  color: white;
  border-radius: 1vmin;
  cursor: pointer;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}