.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Code {
  width: 60vh;
  height: 30vh;
  font-size: 1.5vh;
  padding: 1vh;
  background-color: #eeeeee;
  outline: none;
  resize: vertical;
}

.Output {
  width: 60vh;
  height: 10vh;
  font-size: 1.5vh;
  padding: 1vh;
  border-top: 0;
  background-color: #fffadb;
  outline: none;
  cursor: default;
  resize: vertical;
}

.Examples {
  margin-top: 2vh;
  margin-bottom: 1vh;
  padding: 0.5vh;
  font-size: 2vh;
}

.Run {
  background-color: #3574fd;
  border: none;
  padding: 1vh 1.5vh;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  border-radius: 1vh;
  cursor: pointer;
  margin-top: 1vh;
  margin-bottom: 2vh;
}